extends layout

block content
  h1= title
  - let cameras = results; 
  table(class="table table-stripped table-bordered")
        thead(style="background-color:yellow; color:red;font-size:20px;font-family:calibri;") 
            tr
                td Camera ID
                td Camera name 
                td Camera Pixels 
                td Camera Cost 
        tbody 
            each camera in cameras 
                tr
                    td #{camera._id}
                    td #{camera.cName}
                    td #{camera.cPixels}
                    td #{camera.cCost}